<section class="users-section">
  <b>Name:</b> <%= current_user.name %>
  <p>Other users</p>
  <ul class="users-list">
    <!--<%= render @users_list %>-->
    <% @users_list.each do |user|  %>
      <li>
        <%= user.name %>
        <span class="profile-link">
        <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
        <%= link_to 'Send Friend Request',  friendships_path(:request_id=>user), :method => :post %>
        </span>
      </li>

    <% end %>
  </ul>
  <h2>Pending Friends</h2>
  <ul>
  <% if !@friend_sent.empty? %>
    <% @friend_sent.each do |req| %>
      <li>
        <%= req.request.name %> 
      </li>
    <% end %>
  <% else %>
     <p>No pending requests</p>
  <% end %>

  </ul>
  <h2>Friend Requests</h2>
  <ul>
    <% if !@friend_requests.empty? %>
      <% @friend_requests.each do |req| %>
        <li>
            <%= req.user.name %>
            <%= link_to accept_friend_user_friendships_path(req) do %>
              <button type="button" class="btn btn-accept text-white font-weight-bold"> Accept</button>
            <% end %>
            <%= link_to decline_friend_user_friendships_path(req) do %>
              <button type="button" class="btn btn-decline text-white font-weight-bold"> Decline</button>
            <% end %>
        </li>
      <% end %>
    <% else %>
      <p>No friend requests</p>
    <% end %>
  </ul>
 